"security/cors": {
  "allow_origins": ["{{ env "KRAKEND_URL" }}"{{ range .cors.allow_origins }}, "{{ . }}"{{ end }}],
  "allow_methods": {{ marshal .cors.allow_methods }},
  "allow_headers": {{ marshal .cors.allow_headers }},
  "expose_headers": ["X-Request-ID", "X-Correlation-ID"],
  "max_age": "{{ .cors.max_age }}",
  "allow_credentials": true
}