"auth/validator": {
  "alg": "RS256",
  "jwk_url": "{{ .keycloak.jwks_url }}",
  "issuer": "{{ .keycloak.issuer }}",
  "audience": ["{{ .keycloak.audience }}"],
  "cache": true,
  "cache_duration": 3600,
  "disable_jwk_security": false,
  "propagate_claims": [
    ["sub", "x-user-id"],
    ["tenant_id", "x-tenant-id"],
    ["realm_access.roles", "x-roles"]
  ]
}