{
  "endpoint": "/paymentos/jdpi/{path}",
  "method": "GET",
  "input_headers": ["X-User-ID", "X-Tenant-ID", "X-Roles", "X-Correlation-ID", "Authorization"],
  "output_encoding": "no-op",
  "extra_config": {
    {{ template "jwt_validator.tmpl" . }},
    "auth/validator": {
      "roles_key": "realm_access.roles",
      "roles_key_is_nested": true,
      "roles": ["ledger-viewer", "ledger-operator", "ledger-admin"]
    }
  },
  "backend": [{
    "host": ["{{ .backends.paymentos }}"],
    "url_pattern": "/jdpi/{path}",
    "encoding": "no-op",
    "extra_config": {
      {{ template "circuit_breaker.tmpl" .cb_paymentos }}
    }
  }]
},
{
  "endpoint": "/paymentos/jdpi/{path}",
  "method": "POST",
  "input_headers": ["X-User-ID", "X-Tenant-ID", "X-Roles", "X-Correlation-ID", "Content-Type", "Authorization", "Chave-Idempotencia"],
  "output_encoding": "no-op",
  "extra_config": {
    {{ template "jwt_validator.tmpl" . }},
    "auth/validator": {
      "roles_key": "realm_access.roles",
      "roles_key_is_nested": true,
      "roles": ["ledger-operator", "ledger-admin"]
    }
  },
  "backend": [{
    "host": ["{{ .backends.paymentos }}"],
    "url_pattern": "/jdpi/{path}",
    "encoding": "no-op",
    "extra_config": {
      {{ template "circuit_breaker.tmpl" .cb_paymentos }}
    }
  }]
},
{
  "endpoint": "/paymentos/jdpi/{path}",
  "method": "PUT",
  "input_headers": ["X-User-ID", "X-Tenant-ID", "X-Roles", "X-Correlation-ID", "Content-Type", "Authorization", "Chave-Idempotencia"],
  "output_encoding": "no-op",
  "extra_config": {
    {{ template "jwt_validator.tmpl" . }},
    "auth/validator": {
      "roles_key": "realm_access.roles",
      "roles_key_is_nested": true,
      "roles": ["ledger-operator", "ledger-admin"]
    }
  },
  "backend": [{
    "host": ["{{ .backends.paymentos }}"],
    "url_pattern": "/jdpi/{path}",
    "encoding": "no-op",
    "extra_config": {
      {{ template "circuit_breaker.tmpl" .cb_paymentos }}
    }
  }]
},
{
  "endpoint": "/paymentos/jdpi/{path}",
  "method": "DELETE",
  "input_headers": ["X-User-ID", "X-Tenant-ID", "X-Roles", "X-Correlation-ID", "Authorization"],
  "output_encoding": "no-op",
  "extra_config": {
    {{ template "jwt_validator.tmpl" . }},
    "auth/validator": {
      "roles_key": "realm_access.roles",
      "roles_key_is_nested": true,
      "roles": ["ledger-operator", "ledger-admin"]
    }
  },
  "backend": [{
    "host": ["{{ .backends.paymentos }}"],
    "url_pattern": "/jdpi/{path}",
    "encoding": "no-op",
    "extra_config": {
      {{ template "circuit_breaker.tmpl" .cb_paymentos }}
    }
  }]
}
