{
  "endpoint": "/identos/v1/auth/{path}",
  "method": "POST",
  "input_headers": ["X-User-ID", "X-Tenant-ID", "X-Roles", "X-Correlation-ID", "Content-Type"],
  "output_encoding": "no-op",
  "extra_config": {
    {{ template "jwt_validator.tmpl" . }}
  },
  "backend": [{
    "host": ["{{ .backends.identos }}"],
    "url_pattern": "/v1/auth/{path}",
    "encoding": "no-op",
    "extra_config": {
      {{ template "circuit_breaker.tmpl" .cb_identos }}
    }
  }]
},
{
  "endpoint": "/identos/v1/users/{path}",
  "method": "GET",
  "input_headers": ["X-User-ID", "X-Tenant-ID", "X-Roles", "X-Correlation-ID"],
  "output_encoding": "no-op",
  "extra_config": {
    {{ template "jwt_validator.tmpl" . }},
    "auth/validator": {
      "roles_key": "realm_access.roles",
      "roles_key_is_nested": true,
      "roles": ["ledger-admin"]
    }
  },
  "backend": [{
    "host": ["{{ .backends.identos }}"],
    "url_pattern": "/v1/users/{path}",
    "encoding": "no-op",
    "extra_config": {
      {{ template "circuit_breaker.tmpl" .cb_identos }}
    }
  }]
}