"modifier/lua-endpoint": {
  "sources": ["/etc/krakend/partials/lua/jwe_guard.lua"],
  "live": false,
  "allow_open_libs": false
},
"auth/validator": {
  "alg": "RS256",
  "jwk_url": "{{ .keycloak.jwks_url }}",
  "issuer": "{{ .keycloak.issuer }}",
  "audience": ["{{ .keycloak.audience }}"],
  "cache": true,
  "cache_duration": 3600,
  "failed_jwk_key_cooldown": "10s",
  "disable_jwk_security": {{ .keycloak.disable_jwk_security }},
  "propagate_claims": [
    ["sub", "x-user-id"],
    ["tenant_id", "x-tenant-id"],
    ["realm_access.roles", "x-roles"],
    ["jti", "x-jwt-jti"],
    ["subscription_tier", "x-subscription-tier"]
  ],
  "roles_key": "realm_access.roles",
  "roles_key_is_nested": true,
  "roles": {{ .roles | marshal }}
}
