{
  "openapi": "3.1.0",
  "jsonSchemaDialect": "https://spec.openapis.org/oas/3.1/dialect/base",
  "info": {
    "title": "Revenu Platform API",
    "description": "API Gateway for the Revenu Platform.\n\nAll endpoints require JWT authentication via Keycloak.\nRate limiting is applied per-tenant via X-Tenant-ID header.\n\nGenerated from KrakenD gateway configuration.",
    "version": "1.0.0",
    "contact": {
      "name": "Revenu Platform Team"
    }
  },
  "servers": [
    {
      "url": "https://api.revenu.com.br",
      "description": "Production"
    },
    {
      "url": "https://api-staging.revenu.com.br",
      "description": "Staging"
    },
    {
      "url": "http://localhost:8080",
      "description": "Local development"
    }
  ],
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "paths": {
    "/accountos/v1/accounts": {
      "post": {
        "tags": [
          "AccountOS"
        ],
        "summary": "POST /accountos/v1/accounts",
        "operationId": "post_accountos_v1_accounts",
        "security": [
          {
            "BearerAuth": []
          },
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized \u2014 invalid or missing token"
          },
          "403": {
            "description": "Forbidden \u2014 insufficient roles"
          },
          "429": {
            "description": "Rate limit exceeded"
          },
          "503": {
            "description": "Service unavailable \u2014 circuit breaker open"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "description": "Required roles: ledger-operator, ledger-admin"
      },
      "get": {
        "tags": [
          "AccountOS"
        ],
        "summary": "GET /accountos/v1/accounts",
        "operationId": "get_accountos_v1_accounts",
        "security": [
          {
            "BearerAuth": []
          },
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized \u2014 invalid or missing token"
          },
          "403": {
            "description": "Forbidden \u2014 insufficient roles"
          },
          "429": {
            "description": "Rate limit exceeded"
          },
          "503": {
            "description": "Service unavailable \u2014 circuit breaker open"
          }
        },
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Query parameters (passthrough)"
          }
        ],
        "description": "Required roles: ledger-viewer, ledger-operator, ledger-admin"
      }
    },
    "/accountos/v1/accounts/{path}": {
      "post": {
        "tags": [
          "AccountOS"
        ],
        "summary": "POST /accountos/v1/accounts/{path}",
        "operationId": "post_accountos_v1_accounts_path",
        "security": [
          {
            "BearerAuth": []
          },
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized \u2014 invalid or missing token"
          },
          "403": {
            "description": "Forbidden \u2014 insufficient roles"
          },
          "429": {
            "description": "Rate limit exceeded"
          },
          "503": {
            "description": "Service unavailable \u2014 circuit breaker open"
          }
        },
        "parameters": [
          {
            "name": "path",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Resource path"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "description": "Required roles: ledger-operator, ledger-admin"
      },
      "get": {
        "tags": [
          "AccountOS"
        ],
        "summary": "GET /accountos/v1/accounts/{path}",
        "operationId": "get_accountos_v1_accounts_path",
        "security": [
          {
            "BearerAuth": []
          },
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized \u2014 invalid or missing token"
          },
          "403": {
            "description": "Forbidden \u2014 insufficient roles"
          },
          "429": {
            "description": "Rate limit exceeded"
          },
          "503": {
            "description": "Service unavailable \u2014 circuit breaker open"
          }
        },
        "parameters": [
          {
            "name": "path",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Resource path"
          }
        ],
        "description": "Required roles: ledger-viewer, ledger-operator, ledger-admin"
      },
      "put": {
        "tags": [
          "AccountOS"
        ],
        "summary": "PUT /accountos/v1/accounts/{path}",
        "operationId": "put_accountos_v1_accounts_path",
        "security": [
          {
            "BearerAuth": []
          },
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized \u2014 invalid or missing token"
          },
          "403": {
            "description": "Forbidden \u2014 insufficient roles"
          },
          "429": {
            "description": "Rate limit exceeded"
          },
          "503": {
            "description": "Service unavailable \u2014 circuit breaker open"
          }
        },
        "parameters": [
          {
            "name": "path",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Resource path"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "description": "Required roles: ledger-operator, ledger-admin"
      }
    },
    "/ledgeros/v1/admin/{path}": {
      "get": {
        "tags": [
          "LedgerOS \u2014 Admin"
        ],
        "summary": "GET /ledgeros/v1/admin/{path}",
        "operationId": "get_ledgeros_v1_admin_path",
        "security": [
          {
            "BearerAuth": []
          },
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized \u2014 invalid or missing token"
          },
          "403": {
            "description": "Forbidden \u2014 insufficient roles"
          },
          "429": {
            "description": "Rate limit exceeded"
          },
          "503": {
            "description": "Service unavailable \u2014 circuit breaker open"
          }
        },
        "parameters": [
          {
            "name": "path",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Resource path"
          }
        ],
        "description": "Required roles: ledger-admin"
      },
      "post": {
        "tags": [
          "LedgerOS \u2014 Admin"
        ],
        "summary": "POST /ledgeros/v1/admin/{path}",
        "operationId": "post_ledgeros_v1_admin_path",
        "security": [
          {
            "BearerAuth": []
          },
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized \u2014 invalid or missing token"
          },
          "403": {
            "description": "Forbidden \u2014 insufficient roles"
          },
          "429": {
            "description": "Rate limit exceeded"
          },
          "503": {
            "description": "Service unavailable \u2014 circuit breaker open"
          }
        },
        "parameters": [
          {
            "name": "path",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Resource path"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "description": "Required roles: ledger-admin"
      }
    },
    "/v1/app/version": {
      "get": {
        "tags": [
          "General"
        ],
        "summary": "GET /v1/app/version",
        "operationId": "get_v1_app_version",
        "security": [
          {
            "BearerAuth": []
          },
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized \u2014 invalid or missing token"
          },
          "403": {
            "description": "Forbidden \u2014 insufficient roles"
          },
          "429": {
            "description": "Rate limit exceeded"
          },
          "503": {
            "description": "Service unavailable \u2014 circuit breaker open"
          }
        }
      }
    },
    "/atmos/v1/atm/{path}": {
      "post": {
        "tags": [
          "AtmOS"
        ],
        "summary": "POST /atmos/v1/atm/{path}",
        "operationId": "post_atmos_v1_atm_path",
        "security": [
          {
            "BearerAuth": []
          },
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized \u2014 invalid or missing token"
          },
          "403": {
            "description": "Forbidden \u2014 insufficient roles"
          },
          "429": {
            "description": "Rate limit exceeded"
          },
          "503": {
            "description": "Service unavailable \u2014 circuit breaker open"
          }
        },
        "parameters": [
          {
            "name": "path",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Resource path"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "description": "Required roles: ledger-operator, ledger-admin"
      },
      "get": {
        "tags": [
          "AtmOS"
        ],
        "summary": "GET /atmos/v1/atm/{path}",
        "operationId": "get_atmos_v1_atm_path",
        "security": [
          {
            "BearerAuth": []
          },
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized \u2014 invalid or missing token"
          },
          "403": {
            "description": "Forbidden \u2014 insufficient roles"
          },
          "429": {
            "description": "Rate limit exceeded"
          },
          "503": {
            "description": "Service unavailable \u2014 circuit breaker open"
          }
        },
        "parameters": [
          {
            "name": "path",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Resource path"
          }
        ],
        "description": "Required roles: ledger-viewer, ledger-operator, ledger-admin"
      }
    },
    "/dashboard/v1/overview": {
      "get": {
        "tags": [
          "Dashboard"
        ],
        "summary": "GET /dashboard/v1/overview",
        "operationId": "get_dashboard_v1_overview",
        "security": [
          {
            "BearerAuth": []
          },
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized \u2014 invalid or missing token"
          },
          "403": {
            "description": "Forbidden \u2014 insufficient roles"
          },
          "429": {
            "description": "Rate limit exceeded"
          },
          "503": {
            "description": "Service unavailable \u2014 circuit breaker open"
          }
        },
        "description": "Required roles: ledger-viewer, ledger-operator, ledger-admin"
      }
    },
    "/dashboard/v1/health": {
      "get": {
        "tags": [
          "Dashboard"
        ],
        "summary": "GET /dashboard/v1/health",
        "operationId": "get_dashboard_v1_health",
        "security": [
          {
            "BearerAuth": []
          },
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized \u2014 invalid or missing token"
          },
          "403": {
            "description": "Forbidden \u2014 insufficient roles"
          },
          "429": {
            "description": "Rate limit exceeded"
          },
          "503": {
            "description": "Service unavailable \u2014 circuit breaker open"
          }
        },
        "description": "Required roles: ledger-admin"
      }
    },
    "/paymentos/docs": {
      "get": {
        "tags": [
          "Paymentos"
        ],
        "summary": "GET /paymentos/docs",
        "operationId": "get_paymentos_docs",
        "security": [
          {
            "BearerAuth": []
          },
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized \u2014 invalid or missing token"
          },
          "403": {
            "description": "Forbidden \u2014 insufficient roles"
          },
          "429": {
            "description": "Rate limit exceeded"
          },
          "503": {
            "description": "Service unavailable \u2014 circuit breaker open"
          }
        }
      }
    },
    "/paymentos/docs/{path}": {
      "get": {
        "tags": [
          "Paymentos"
        ],
        "summary": "GET /paymentos/docs/{path}",
        "operationId": "get_paymentos_docs_path",
        "security": [
          {
            "BearerAuth": []
          },
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized \u2014 invalid or missing token"
          },
          "403": {
            "description": "Forbidden \u2014 insufficient roles"
          },
          "429": {
            "description": "Rate limit exceeded"
          },
          "503": {
            "description": "Service unavailable \u2014 circuit breaker open"
          }
        },
        "parameters": [
          {
            "name": "path",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Resource path"
          }
        ]
      }
    },
    "/ledgeros/docs": {
      "get": {
        "tags": [
          "LedgerOS"
        ],
        "summary": "GET /ledgeros/docs",
        "operationId": "get_ledgeros_docs",
        "security": [
          {
            "BearerAuth": []
          },
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized \u2014 invalid or missing token"
          },
          "403": {
            "description": "Forbidden \u2014 insufficient roles"
          },
          "429": {
            "description": "Rate limit exceeded"
          },
          "503": {
            "description": "Service unavailable \u2014 circuit breaker open"
          }
        }
      }
    },
    "/ledgeros/docs/{path}": {
      "get": {
        "tags": [
          "LedgerOS"
        ],
        "summary": "GET /ledgeros/docs/{path}",
        "operationId": "get_ledgeros_docs_path",
        "security": [
          {
            "BearerAuth": []
          },
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized \u2014 invalid or missing token"
          },
          "403": {
            "description": "Forbidden \u2014 insufficient roles"
          },
          "429": {
            "description": "Rate limit exceeded"
          },
          "503": {
            "description": "Service unavailable \u2014 circuit breaker open"
          }
        },
        "parameters": [
          {
            "name": "path",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Resource path"
          }
        ]
      }
    },
    "/financeos/v1/finance/{path}": {
      "post": {
        "tags": [
          "FinanceOS"
        ],
        "summary": "POST /financeos/v1/finance/{path}",
        "operationId": "post_financeos_v1_finance_path",
        "security": [
          {
            "BearerAuth": []
          },
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized \u2014 invalid or missing token"
          },
          "403": {
            "description": "Forbidden \u2014 insufficient roles"
          },
          "429": {
            "description": "Rate limit exceeded"
          },
          "503": {
            "description": "Service unavailable \u2014 circuit breaker open"
          }
        },
        "parameters": [
          {
            "name": "path",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Resource path"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "description": "Required roles: ledger-operator, ledger-admin"
      },
      "get": {
        "tags": [
          "FinanceOS"
        ],
        "summary": "GET /financeos/v1/finance/{path}",
        "operationId": "get_financeos_v1_finance_path",
        "security": [
          {
            "BearerAuth": []
          },
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized \u2014 invalid or missing token"
          },
          "403": {
            "description": "Forbidden \u2014 insufficient roles"
          },
          "429": {
            "description": "Rate limit exceeded"
          },
          "503": {
            "description": "Service unavailable \u2014 circuit breaker open"
          }
        },
        "parameters": [
          {
            "name": "path",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Resource path"
          }
        ],
        "description": "Required roles: ledger-viewer, ledger-operator, ledger-admin"
      }
    },
    "/__ready": {
      "get": {
        "tags": [
          "Health"
        ],
        "summary": "GET /__ready",
        "operationId": "get_ready",
        "security": [
          {
            "BearerAuth": []
          },
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized \u2014 invalid or missing token"
          },
          "403": {
            "description": "Forbidden \u2014 insufficient roles"
          },
          "429": {
            "description": "Rate limit exceeded"
          },
          "503": {
            "description": "Service unavailable \u2014 circuit breaker open"
          }
        }
      }
    },
    "/identityos/health": {
      "get": {
        "tags": [
          "IdentityOS"
        ],
        "summary": "GET /identityos/health",
        "operationId": "get_identityos_health",
        "security": [
          {
            "BearerAuth": []
          },
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized \u2014 invalid or missing token"
          },
          "403": {
            "description": "Forbidden \u2014 insufficient roles"
          },
          "429": {
            "description": "Rate limit exceeded"
          },
          "503": {
            "description": "Service unavailable \u2014 circuit breaker open"
          }
        }
      }
    },
    "/accountos/health": {
      "get": {
        "tags": [
          "AccountOS"
        ],
        "summary": "GET /accountos/health",
        "operationId": "get_accountos_health",
        "security": [
          {
            "BearerAuth": []
          },
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized \u2014 invalid or missing token"
          },
          "403": {
            "description": "Forbidden \u2014 insufficient roles"
          },
          "429": {
            "description": "Rate limit exceeded"
          },
          "503": {
            "description": "Service unavailable \u2014 circuit breaker open"
          }
        }
      }
    },
    "/ledgeros/health": {
      "get": {
        "tags": [
          "LedgerOS"
        ],
        "summary": "GET /ledgeros/health",
        "operationId": "get_ledgeros_health",
        "security": [
          {
            "BearerAuth": []
          },
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized \u2014 invalid or missing token"
          },
          "403": {
            "description": "Forbidden \u2014 insufficient roles"
          },
          "429": {
            "description": "Rate limit exceeded"
          },
          "503": {
            "description": "Service unavailable \u2014 circuit breaker open"
          }
        }
      }
    },
    "/wssgateway/health": {
      "get": {
        "tags": [
          "General"
        ],
        "summary": "GET /wssgateway/health",
        "operationId": "get_wssgateway_health",
        "security": [
          {
            "BearerAuth": []
          },
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized \u2014 invalid or missing token"
          },
          "403": {
            "description": "Forbidden \u2014 insufficient roles"
          },
          "429": {
            "description": "Rate limit exceeded"
          },
          "503": {
            "description": "Service unavailable \u2014 circuit breaker open"
          }
        }
      }
    },
    "/identityos/v1/iam/auth/{path}": {
      "post": {
        "tags": [
          "IdentityOS"
        ],
        "summary": "POST /identityos/v1/iam/auth/{path}",
        "operationId": "post_identityos_v1_iam_auth_path",
        "security": [
          {
            "BearerAuth": []
          },
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized \u2014 invalid or missing token"
          },
          "403": {
            "description": "Forbidden \u2014 insufficient roles"
          },
          "429": {
            "description": "Rate limit exceeded"
          },
          "503": {
            "description": "Service unavailable \u2014 circuit breaker open"
          }
        },
        "parameters": [
          {
            "name": "path",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Resource path"
          },
          {
            "name": "query",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Query parameters (passthrough)"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/identityos/v1/iam/{resource}": {
      "get": {
        "tags": [
          "IdentityOS"
        ],
        "summary": "GET /identityos/v1/iam/{resource}",
        "operationId": "get_identityos_v1_iam_resource",
        "security": [
          {
            "BearerAuth": []
          },
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized \u2014 invalid or missing token"
          },
          "403": {
            "description": "Forbidden \u2014 insufficient roles"
          },
          "429": {
            "description": "Rate limit exceeded"
          },
          "503": {
            "description": "Service unavailable \u2014 circuit breaker open"
          }
        },
        "parameters": [
          {
            "name": "resource",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Resource resource"
          },
          {
            "name": "query",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Query parameters (passthrough)"
          }
        ]
      },
      "post": {
        "tags": [
          "IdentityOS"
        ],
        "summary": "POST /identityos/v1/iam/{resource}",
        "operationId": "post_identityos_v1_iam_resource",
        "security": [
          {
            "BearerAuth": []
          },
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized \u2014 invalid or missing token"
          },
          "403": {
            "description": "Forbidden \u2014 insufficient roles"
          },
          "429": {
            "description": "Rate limit exceeded"
          },
          "503": {
            "description": "Service unavailable \u2014 circuit breaker open"
          }
        },
        "parameters": [
          {
            "name": "resource",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Resource resource"
          },
          {
            "name": "query",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Query parameters (passthrough)"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/identityos/v1/iam/{resource}/{id}": {
      "get": {
        "tags": [
          "IdentityOS"
        ],
        "summary": "GET /identityos/v1/iam/{resource}/{id}",
        "operationId": "get_identityos_v1_iam_resource_id",
        "security": [
          {
            "BearerAuth": []
          },
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized \u2014 invalid or missing token"
          },
          "403": {
            "description": "Forbidden \u2014 insufficient roles"
          },
          "429": {
            "description": "Rate limit exceeded"
          },
          "503": {
            "description": "Service unavailable \u2014 circuit breaker open"
          }
        },
        "parameters": [
          {
            "name": "resource",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Resource resource"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Resource id"
          },
          {
            "name": "query",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Query parameters (passthrough)"
          }
        ]
      },
      "patch": {
        "tags": [
          "IdentityOS"
        ],
        "summary": "PATCH /identityos/v1/iam/{resource}/{id}",
        "operationId": "patch_identityos_v1_iam_resource_id",
        "security": [
          {
            "BearerAuth": []
          },
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized \u2014 invalid or missing token"
          },
          "403": {
            "description": "Forbidden \u2014 insufficient roles"
          },
          "429": {
            "description": "Rate limit exceeded"
          },
          "503": {
            "description": "Service unavailable \u2014 circuit breaker open"
          }
        },
        "parameters": [
          {
            "name": "resource",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Resource resource"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Resource id"
          },
          {
            "name": "query",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Query parameters (passthrough)"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "IdentityOS"
        ],
        "summary": "DELETE /identityos/v1/iam/{resource}/{id}",
        "operationId": "delete_identityos_v1_iam_resource_id",
        "security": [
          {
            "BearerAuth": []
          },
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized \u2014 invalid or missing token"
          },
          "403": {
            "description": "Forbidden \u2014 insufficient roles"
          },
          "429": {
            "description": "Rate limit exceeded"
          },
          "503": {
            "description": "Service unavailable \u2014 circuit breaker open"
          }
        },
        "parameters": [
          {
            "name": "resource",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Resource resource"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Resource id"
          },
          {
            "name": "query",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Query parameters (passthrough)"
          }
        ]
      }
    },
    "/identityos/v1/iam/{resource}/{id}/{action}": {
      "post": {
        "tags": [
          "IdentityOS"
        ],
        "summary": "POST /identityos/v1/iam/{resource}/{id}/{action}",
        "operationId": "post_identityos_v1_iam_resource_id_action",
        "security": [
          {
            "BearerAuth": []
          },
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized \u2014 invalid or missing token"
          },
          "403": {
            "description": "Forbidden \u2014 insufficient roles"
          },
          "429": {
            "description": "Rate limit exceeded"
          },
          "503": {
            "description": "Service unavailable \u2014 circuit breaker open"
          }
        },
        "parameters": [
          {
            "name": "resource",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Resource resource"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Resource id"
          },
          {
            "name": "action",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Resource action"
          },
          {
            "name": "query",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Query parameters (passthrough)"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "IdentityOS"
        ],
        "summary": "GET /identityos/v1/iam/{resource}/{id}/{action}",
        "operationId": "get_identityos_v1_iam_resource_id_action",
        "security": [
          {
            "BearerAuth": []
          },
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized \u2014 invalid or missing token"
          },
          "403": {
            "description": "Forbidden \u2014 insufficient roles"
          },
          "429": {
            "description": "Rate limit exceeded"
          },
          "503": {
            "description": "Service unavailable \u2014 circuit breaker open"
          }
        },
        "parameters": [
          {
            "name": "resource",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Resource resource"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Resource id"
          },
          {
            "name": "action",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Resource action"
          },
          {
            "name": "query",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Query parameters (passthrough)"
          }
        ]
      }
    },
    "/identityos/v1/iam/policies/evaluate": {
      "post": {
        "tags": [
          "IdentityOS"
        ],
        "summary": "POST /identityos/v1/iam/policies/evaluate",
        "operationId": "post_identityos_v1_iam_policies_evaluate",
        "security": [
          {
            "BearerAuth": []
          },
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized \u2014 invalid or missing token"
          },
          "403": {
            "description": "Forbidden \u2014 insufficient roles"
          },
          "429": {
            "description": "Rate limit exceeded"
          },
          "503": {
            "description": "Service unavailable \u2014 circuit breaker open"
          }
        },
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Query parameters (passthrough)"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/identityos/v1/iam/auth/otp/{id}/status": {
      "get": {
        "tags": [
          "IdentityOS"
        ],
        "summary": "GET /identityos/v1/iam/auth/otp/{id}/status",
        "operationId": "get_identityos_v1_iam_auth_otp_id_status",
        "security": [
          {
            "BearerAuth": []
          },
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized \u2014 invalid or missing token"
          },
          "403": {
            "description": "Forbidden \u2014 insufficient roles"
          },
          "429": {
            "description": "Rate limit exceeded"
          },
          "503": {
            "description": "Service unavailable \u2014 circuit breaker open"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Resource id"
          },
          {
            "name": "query",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Query parameters (passthrough)"
          }
        ]
      }
    },
    "/identityos/v1/iam/me/notification-channels/{kind}/test": {
      "post": {
        "tags": [
          "IdentityOS"
        ],
        "summary": "POST /identityos/v1/iam/me/notification-channels/{kind}/test",
        "operationId": "post_identityos_v1_iam_me_notification-channels_kind_test",
        "security": [
          {
            "BearerAuth": []
          },
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized \u2014 invalid or missing token"
          },
          "403": {
            "description": "Forbidden \u2014 insufficient roles"
          },
          "429": {
            "description": "Rate limit exceeded"
          },
          "503": {
            "description": "Service unavailable \u2014 circuit breaker open"
          }
        },
        "parameters": [
          {
            "name": "kind",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Resource kind"
          },
          {
            "name": "query",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Query parameters (passthrough)"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/identityos/v1/iam/webhooks/deliveries/{id}/requeue": {
      "post": {
        "tags": [
          "IdentityOS"
        ],
        "summary": "POST /identityos/v1/iam/webhooks/deliveries/{id}/requeue",
        "operationId": "post_identityos_v1_iam_webhooks_deliveries_id_requeue",
        "security": [
          {
            "BearerAuth": []
          },
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized \u2014 invalid or missing token"
          },
          "403": {
            "description": "Forbidden \u2014 insufficient roles"
          },
          "429": {
            "description": "Rate limit exceeded"
          },
          "503": {
            "description": "Service unavailable \u2014 circuit breaker open"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Resource id"
          },
          {
            "name": "query",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Query parameters (passthrough)"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/identityos/v1/iam/auth/otp/request": {
      "post": {
        "tags": [
          "IdentityOS"
        ],
        "summary": "POST /identityos/v1/iam/auth/otp/request",
        "operationId": "post_identityos_v1_iam_auth_otp_request",
        "security": [
          {
            "BearerAuth": []
          },
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized \u2014 invalid or missing token"
          },
          "403": {
            "description": "Forbidden \u2014 insufficient roles"
          },
          "429": {
            "description": "Rate limit exceeded"
          },
          "503": {
            "description": "Service unavailable \u2014 circuit breaker open"
          }
        },
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Query parameters (passthrough)"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/identityos/v1/iam/auth/otp/verify": {
      "post": {
        "tags": [
          "IdentityOS"
        ],
        "summary": "POST /identityos/v1/iam/auth/otp/verify",
        "operationId": "post_identityos_v1_iam_auth_otp_verify",
        "security": [
          {
            "BearerAuth": []
          },
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized \u2014 invalid or missing token"
          },
          "403": {
            "description": "Forbidden \u2014 insufficient roles"
          },
          "429": {
            "description": "Rate limit exceeded"
          },
          "503": {
            "description": "Service unavailable \u2014 circuit breaker open"
          }
        },
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Query parameters (passthrough)"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/identityos/v1/iam/auth/reset-password/confirm": {
      "post": {
        "tags": [
          "IdentityOS"
        ],
        "summary": "POST /identityos/v1/iam/auth/reset-password/confirm",
        "operationId": "post_identityos_v1_iam_auth_reset-password_confirm",
        "security": [
          {
            "BearerAuth": []
          },
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized \u2014 invalid or missing token"
          },
          "403": {
            "description": "Forbidden \u2014 insufficient roles"
          },
          "429": {
            "description": "Rate limit exceeded"
          },
          "503": {
            "description": "Service unavailable \u2014 circuit breaker open"
          }
        },
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Query parameters (passthrough)"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/identityos/v1/iam/identities/{id}/mfa/enroll": {
      "post": {
        "tags": [
          "IdentityOS"
        ],
        "summary": "POST /identityos/v1/iam/identities/{id}/mfa/enroll",
        "operationId": "post_identityos_v1_iam_identities_id_mfa_enroll",
        "security": [
          {
            "BearerAuth": []
          },
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized \u2014 invalid or missing token"
          },
          "403": {
            "description": "Forbidden \u2014 insufficient roles"
          },
          "429": {
            "description": "Rate limit exceeded"
          },
          "503": {
            "description": "Service unavailable \u2014 circuit breaker open"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Resource id"
          },
          {
            "name": "query",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Query parameters (passthrough)"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/identityos/v1/iam/identities/{id}/mfa/revoke": {
      "post": {
        "tags": [
          "IdentityOS"
        ],
        "summary": "POST /identityos/v1/iam/identities/{id}/mfa/revoke",
        "operationId": "post_identityos_v1_iam_identities_id_mfa_revoke",
        "security": [
          {
            "BearerAuth": []
          },
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized \u2014 invalid or missing token"
          },
          "403": {
            "description": "Forbidden \u2014 insufficient roles"
          },
          "429": {
            "description": "Rate limit exceeded"
          },
          "503": {
            "description": "Service unavailable \u2014 circuit breaker open"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Resource id"
          },
          {
            "name": "query",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Query parameters (passthrough)"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/identityos/v1/iam/identities/{id}/sessions/{sid}": {
      "delete": {
        "tags": [
          "IdentityOS"
        ],
        "summary": "DELETE /identityos/v1/iam/identities/{id}/sessions/{sid}",
        "operationId": "delete_identityos_v1_iam_identities_id_sessions_sid",
        "security": [
          {
            "BearerAuth": []
          },
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized \u2014 invalid or missing token"
          },
          "403": {
            "description": "Forbidden \u2014 insufficient roles"
          },
          "429": {
            "description": "Rate limit exceeded"
          },
          "503": {
            "description": "Service unavailable \u2014 circuit breaker open"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Resource id"
          },
          {
            "name": "sid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Resource sid"
          },
          {
            "name": "query",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Query parameters (passthrough)"
          }
        ]
      }
    },
    "/identityos/v1/iam/tenants/{id}/members/invites": {
      "post": {
        "tags": [
          "IdentityOS"
        ],
        "summary": "POST /identityos/v1/iam/tenants/{id}/members/invites",
        "operationId": "post_identityos_v1_iam_tenants_id_members_invites",
        "security": [
          {
            "BearerAuth": []
          },
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized \u2014 invalid or missing token"
          },
          "403": {
            "description": "Forbidden \u2014 insufficient roles"
          },
          "429": {
            "description": "Rate limit exceeded"
          },
          "503": {
            "description": "Service unavailable \u2014 circuit breaker open"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Resource id"
          },
          {
            "name": "query",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Query parameters (passthrough)"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/identityos/v1/iam/tenants/{id}/products/{slug}": {
      "put": {
        "tags": [
          "IdentityOS"
        ],
        "summary": "PUT /identityos/v1/iam/tenants/{id}/products/{slug}",
        "operationId": "put_identityos_v1_iam_tenants_id_products_slug",
        "security": [
          {
            "BearerAuth": []
          },
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized \u2014 invalid or missing token"
          },
          "403": {
            "description": "Forbidden \u2014 insufficient roles"
          },
          "429": {
            "description": "Rate limit exceeded"
          },
          "503": {
            "description": "Service unavailable \u2014 circuit breaker open"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Resource id"
          },
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Resource slug"
          },
          {
            "name": "query",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Query parameters (passthrough)"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/identityos/v1/iam/tenants/{id}/members/{identity}": {
      "post": {
        "tags": [
          "IdentityOS"
        ],
        "summary": "POST /identityos/v1/iam/tenants/{id}/members/{identity}",
        "operationId": "post_identityos_v1_iam_tenants_id_members_identity",
        "security": [
          {
            "BearerAuth": []
          },
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized \u2014 invalid or missing token"
          },
          "403": {
            "description": "Forbidden \u2014 insufficient roles"
          },
          "429": {
            "description": "Rate limit exceeded"
          },
          "503": {
            "description": "Service unavailable \u2014 circuit breaker open"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Resource id"
          },
          {
            "name": "identity",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Resource identity"
          },
          {
            "name": "query",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Query parameters (passthrough)"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "IdentityOS"
        ],
        "summary": "PUT /identityos/v1/iam/tenants/{id}/members/{identity}",
        "operationId": "put_identityos_v1_iam_tenants_id_members_identity",
        "security": [
          {
            "BearerAuth": []
          },
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized \u2014 invalid or missing token"
          },
          "403": {
            "description": "Forbidden \u2014 insufficient roles"
          },
          "429": {
            "description": "Rate limit exceeded"
          },
          "503": {
            "description": "Service unavailable \u2014 circuit breaker open"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Resource id"
          },
          {
            "name": "identity",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Resource identity"
          },
          {
            "name": "query",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Query parameters (passthrough)"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "IdentityOS"
        ],
        "summary": "PATCH /identityos/v1/iam/tenants/{id}/members/{identity}",
        "operationId": "patch_identityos_v1_iam_tenants_id_members_identity",
        "security": [
          {
            "BearerAuth": []
          },
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized \u2014 invalid or missing token"
          },
          "403": {
            "description": "Forbidden \u2014 insufficient roles"
          },
          "429": {
            "description": "Rate limit exceeded"
          },
          "503": {
            "description": "Service unavailable \u2014 circuit breaker open"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Resource id"
          },
          {
            "name": "identity",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Resource identity"
          },
          {
            "name": "query",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Query parameters (passthrough)"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "IdentityOS"
        ],
        "summary": "DELETE /identityos/v1/iam/tenants/{id}/members/{identity}",
        "operationId": "delete_identityos_v1_iam_tenants_id_members_identity",
        "security": [
          {
            "BearerAuth": []
          },
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized \u2014 invalid or missing token"
          },
          "403": {
            "description": "Forbidden \u2014 insufficient roles"
          },
          "429": {
            "description": "Rate limit exceeded"
          },
          "503": {
            "description": "Service unavailable \u2014 circuit breaker open"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Resource id"
          },
          {
            "name": "identity",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Resource identity"
          },
          {
            "name": "query",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Query parameters (passthrough)"
          }
        ]
      }
    },
    "/identityos/v1/iam/tenants/{id}/members/{identity}/role": {
      "put": {
        "tags": [
          "IdentityOS"
        ],
        "summary": "PUT /identityos/v1/iam/tenants/{id}/members/{identity}/role",
        "operationId": "put_identityos_v1_iam_tenants_id_members_identity_role",
        "security": [
          {
            "BearerAuth": []
          },
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized \u2014 invalid or missing token"
          },
          "403": {
            "description": "Forbidden \u2014 insufficient roles"
          },
          "429": {
            "description": "Rate limit exceeded"
          },
          "503": {
            "description": "Service unavailable \u2014 circuit breaker open"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Resource id"
          },
          {
            "name": "identity",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Resource identity"
          },
          {
            "name": "query",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Query parameters (passthrough)"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/identityos/v1/iam/tenants/{id}/members/{identity}/invite/resend": {
      "post": {
        "tags": [
          "IdentityOS"
        ],
        "summary": "POST /identityos/v1/iam/tenants/{id}/members/{identity}/invite/resend",
        "operationId": "post_identityos_v1_iam_tenants_id_members_identity_invite_resend",
        "security": [
          {
            "BearerAuth": []
          },
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized \u2014 invalid or missing token"
          },
          "403": {
            "description": "Forbidden \u2014 insufficient roles"
          },
          "429": {
            "description": "Rate limit exceeded"
          },
          "503": {
            "description": "Service unavailable \u2014 circuit breaker open"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Resource id"
          },
          {
            "name": "identity",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Resource identity"
          },
          {
            "name": "query",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Query parameters (passthrough)"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/auth/realms/ledgeros/.well-known/openid-configuration": {
      "get": {
        "tags": [
          "Keycloak"
        ],
        "summary": "GET /auth/realms/ledgeros/.well-known/openid-configuration",
        "operationId": "get_auth_realms_ledgeros_.well-known_openid-configuration",
        "security": [
          {
            "BearerAuth": []
          },
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized \u2014 invalid or missing token"
          },
          "403": {
            "description": "Forbidden \u2014 insufficient roles"
          },
          "429": {
            "description": "Rate limit exceeded"
          },
          "503": {
            "description": "Service unavailable \u2014 circuit breaker open"
          }
        }
      }
    },
    "/auth/realms/ledgeros/protocol/openid-connect/certs": {
      "get": {
        "tags": [
          "Keycloak"
        ],
        "summary": "GET /auth/realms/ledgeros/protocol/openid-connect/certs",
        "operationId": "get_auth_realms_ledgeros_protocol_openid-connect_certs",
        "security": [
          {
            "BearerAuth": []
          },
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized \u2014 invalid or missing token"
          },
          "403": {
            "description": "Forbidden \u2014 insufficient roles"
          },
          "429": {
            "description": "Rate limit exceeded"
          },
          "503": {
            "description": "Service unavailable \u2014 circuit breaker open"
          }
        }
      }
    },
    "/auth/realms/ledgeros/protocol/openid-connect/token": {
      "post": {
        "tags": [
          "Keycloak"
        ],
        "summary": "POST /auth/realms/ledgeros/protocol/openid-connect/token",
        "operationId": "post_auth_realms_ledgeros_protocol_openid-connect_token",
        "security": [
          {
            "BearerAuth": []
          },
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized \u2014 invalid or missing token"
          },
          "403": {
            "description": "Forbidden \u2014 insufficient roles"
          },
          "429": {
            "description": "Rate limit exceeded"
          },
          "503": {
            "description": "Service unavailable \u2014 circuit breaker open"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/auth/realms/ledgeros/protocol/openid-connect/auth": {
      "get": {
        "tags": [
          "Keycloak"
        ],
        "summary": "GET /auth/realms/ledgeros/protocol/openid-connect/auth",
        "operationId": "get_auth_realms_ledgeros_protocol_openid-connect_auth",
        "security": [
          {
            "BearerAuth": []
          },
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized \u2014 invalid or missing token"
          },
          "403": {
            "description": "Forbidden \u2014 insufficient roles"
          },
          "429": {
            "description": "Rate limit exceeded"
          },
          "503": {
            "description": "Service unavailable \u2014 circuit breaker open"
          }
        },
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Query parameters (passthrough)"
          }
        ]
      }
    },
    "/auth/realms/ledgeros/protocol/openid-connect/userinfo": {
      "get": {
        "tags": [
          "Keycloak"
        ],
        "summary": "GET /auth/realms/ledgeros/protocol/openid-connect/userinfo",
        "operationId": "get_auth_realms_ledgeros_protocol_openid-connect_userinfo",
        "security": [
          {
            "BearerAuth": []
          },
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized \u2014 invalid or missing token"
          },
          "403": {
            "description": "Forbidden \u2014 insufficient roles"
          },
          "429": {
            "description": "Rate limit exceeded"
          },
          "503": {
            "description": "Service unavailable \u2014 circuit breaker open"
          }
        }
      }
    },
    "/auth/realms/ledgeros/protocol/openid-connect/logout": {
      "get": {
        "tags": [
          "Keycloak"
        ],
        "summary": "GET /auth/realms/ledgeros/protocol/openid-connect/logout",
        "operationId": "get_auth_realms_ledgeros_protocol_openid-connect_logout",
        "security": [
          {
            "BearerAuth": []
          },
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized \u2014 invalid or missing token"
          },
          "403": {
            "description": "Forbidden \u2014 insufficient roles"
          },
          "429": {
            "description": "Rate limit exceeded"
          },
          "503": {
            "description": "Service unavailable \u2014 circuit breaker open"
          }
        },
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Query parameters (passthrough)"
          }
        ]
      },
      "post": {
        "tags": [
          "Keycloak"
        ],
        "summary": "POST /auth/realms/ledgeros/protocol/openid-connect/logout",
        "operationId": "post_auth_realms_ledgeros_protocol_openid-connect_logout",
        "security": [
          {
            "BearerAuth": []
          },
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized \u2014 invalid or missing token"
          },
          "403": {
            "description": "Forbidden \u2014 insufficient roles"
          },
          "429": {
            "description": "Rate limit exceeded"
          },
          "503": {
            "description": "Service unavailable \u2014 circuit breaker open"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/auth/realms/ledgeros/protocol/openid-connect/token/introspect": {
      "post": {
        "tags": [
          "Keycloak"
        ],
        "summary": "POST /auth/realms/ledgeros/protocol/openid-connect/token/introspect",
        "operationId": "post_auth_realms_ledgeros_protocol_openid-connect_token_introspect",
        "security": [
          {
            "BearerAuth": []
          },
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized \u2014 invalid or missing token"
          },
          "403": {
            "description": "Forbidden \u2014 insufficient roles"
          },
          "429": {
            "description": "Rate limit exceeded"
          },
          "503": {
            "description": "Service unavailable \u2014 circuit breaker open"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/ledgeros/v1/my/postings": {
      "get": {
        "tags": [
          "LedgerOS"
        ],
        "summary": "GET /ledgeros/v1/my/postings",
        "operationId": "get_ledgeros_v1_my_postings",
        "security": [
          {
            "BearerAuth": []
          },
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized \u2014 invalid or missing token"
          },
          "403": {
            "description": "Forbidden \u2014 insufficient roles"
          },
          "429": {
            "description": "Rate limit exceeded"
          },
          "503": {
            "description": "Service unavailable \u2014 circuit breaker open"
          }
        },
        "description": "Required roles: ledger-viewer, ledger-operator, ledger-admin"
      }
    },
    "/ledgeros/v1/my/balances": {
      "get": {
        "tags": [
          "LedgerOS"
        ],
        "summary": "GET /ledgeros/v1/my/balances",
        "operationId": "get_ledgeros_v1_my_balances",
        "security": [
          {
            "BearerAuth": []
          },
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized \u2014 invalid or missing token"
          },
          "403": {
            "description": "Forbidden \u2014 insufficient roles"
          },
          "429": {
            "description": "Rate limit exceeded"
          },
          "503": {
            "description": "Service unavailable \u2014 circuit breaker open"
          }
        },
        "description": "Required roles: ledger-viewer, ledger-operator, ledger-admin"
      }
    },
    "/ledgeros/v1/my/dashboard": {
      "get": {
        "tags": [
          "LedgerOS"
        ],
        "summary": "GET /ledgeros/v1/my/dashboard",
        "operationId": "get_ledgeros_v1_my_dashboard",
        "security": [
          {
            "BearerAuth": []
          },
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized \u2014 invalid or missing token"
          },
          "403": {
            "description": "Forbidden \u2014 insufficient roles"
          },
          "429": {
            "description": "Rate limit exceeded"
          },
          "503": {
            "description": "Service unavailable \u2014 circuit breaker open"
          }
        },
        "description": "Required roles: ledger-viewer, ledger-operator, ledger-admin"
      }
    },
    "/ledgeros/grpc/v1/postings": {
      "post": {
        "tags": [
          "LedgerOS \u2014 gRPC"
        ],
        "summary": "POST /ledgeros/grpc/v1/postings",
        "operationId": "post_ledgeros_grpc_v1_postings",
        "security": [
          {
            "BearerAuth": []
          },
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized \u2014 invalid or missing token"
          },
          "403": {
            "description": "Forbidden \u2014 insufficient roles"
          },
          "429": {
            "description": "Rate limit exceeded"
          },
          "503": {
            "description": "Service unavailable \u2014 circuit breaker open"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "description": "Required roles: ledger-operator, ledger-admin"
      }
    },
    "/ledgeros/grpc/v1/postings/{id}": {
      "get": {
        "tags": [
          "LedgerOS \u2014 gRPC"
        ],
        "summary": "GET /ledgeros/grpc/v1/postings/{id}",
        "operationId": "get_ledgeros_grpc_v1_postings_id",
        "security": [
          {
            "BearerAuth": []
          },
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized \u2014 invalid or missing token"
          },
          "403": {
            "description": "Forbidden \u2014 insufficient roles"
          },
          "429": {
            "description": "Rate limit exceeded"
          },
          "503": {
            "description": "Service unavailable \u2014 circuit breaker open"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Resource id"
          }
        ],
        "description": "Required roles: ledger-viewer, ledger-operator, ledger-admin"
      }
    },
    "/ledgeros/grpc/v1/balances/{id}": {
      "get": {
        "tags": [
          "LedgerOS \u2014 gRPC"
        ],
        "summary": "GET /ledgeros/grpc/v1/balances/{id}",
        "operationId": "get_ledgeros_grpc_v1_balances_id",
        "security": [
          {
            "BearerAuth": []
          },
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized \u2014 invalid or missing token"
          },
          "403": {
            "description": "Forbidden \u2014 insufficient roles"
          },
          "429": {
            "description": "Rate limit exceeded"
          },
          "503": {
            "description": "Service unavailable \u2014 circuit breaker open"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Resource id"
          }
        ],
        "description": "Required roles: ledger-viewer, ledger-operator, ledger-admin"
      }
    },
    "/ledgeros/grpc/v1/settlements": {
      "post": {
        "tags": [
          "LedgerOS \u2014 gRPC"
        ],
        "summary": "POST /ledgeros/grpc/v1/settlements",
        "operationId": "post_ledgeros_grpc_v1_settlements",
        "security": [
          {
            "BearerAuth": []
          },
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized \u2014 invalid or missing token"
          },
          "403": {
            "description": "Forbidden \u2014 insufficient roles"
          },
          "429": {
            "description": "Rate limit exceeded"
          },
          "503": {
            "description": "Service unavailable \u2014 circuit breaker open"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "description": "Required roles: ledger-operator, ledger-admin"
      }
    },
    "/ledgeros/grpc/v1/reconciliation/jobs": {
      "post": {
        "tags": [
          "LedgerOS \u2014 gRPC"
        ],
        "summary": "POST /ledgeros/grpc/v1/reconciliation/jobs",
        "operationId": "post_ledgeros_grpc_v1_reconciliation_jobs",
        "security": [
          {
            "BearerAuth": []
          },
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized \u2014 invalid or missing token"
          },
          "403": {
            "description": "Forbidden \u2014 insufficient roles"
          },
          "429": {
            "description": "Rate limit exceeded"
          },
          "503": {
            "description": "Service unavailable \u2014 circuit breaker open"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "description": "Required roles: ledger-operator, ledger-admin"
      }
    },
    "/ledgeros/v1/postings": {
      "post": {
        "tags": [
          "LedgerOS"
        ],
        "summary": "POST /ledgeros/v1/postings",
        "operationId": "post_ledgeros_v1_postings",
        "security": [
          {
            "BearerAuth": []
          },
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized \u2014 invalid or missing token"
          },
          "403": {
            "description": "Forbidden \u2014 insufficient roles"
          },
          "429": {
            "description": "Rate limit exceeded"
          },
          "503": {
            "description": "Service unavailable \u2014 circuit breaker open"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "description": "Required roles: ledger-operator, ledger-admin"
      }
    },
    "/ledgeros/v1/postings/{id}": {
      "get": {
        "tags": [
          "LedgerOS"
        ],
        "summary": "GET /ledgeros/v1/postings/{id}",
        "operationId": "get_ledgeros_v1_postings_id",
        "security": [
          {
            "BearerAuth": []
          },
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized \u2014 invalid or missing token"
          },
          "403": {
            "description": "Forbidden \u2014 insufficient roles"
          },
          "429": {
            "description": "Rate limit exceeded"
          },
          "503": {
            "description": "Service unavailable \u2014 circuit breaker open"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Resource id"
          }
        ],
        "description": "Required roles: ledger-viewer, ledger-operator, ledger-admin"
      }
    },
    "/ledgeros/v1/balances/{id}": {
      "get": {
        "tags": [
          "LedgerOS"
        ],
        "summary": "GET /ledgeros/v1/balances/{id}",
        "operationId": "get_ledgeros_v1_balances_id",
        "security": [
          {
            "BearerAuth": []
          },
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized \u2014 invalid or missing token"
          },
          "403": {
            "description": "Forbidden \u2014 insufficient roles"
          },
          "429": {
            "description": "Rate limit exceeded"
          },
          "503": {
            "description": "Service unavailable \u2014 circuit breaker open"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Resource id"
          }
        ],
        "description": "Required roles: ledger-viewer, ledger-operator, ledger-admin"
      }
    },
    "/ledgeros/v1/settlements": {
      "post": {
        "tags": [
          "LedgerOS"
        ],
        "summary": "POST /ledgeros/v1/settlements",
        "operationId": "post_ledgeros_v1_settlements",
        "security": [
          {
            "BearerAuth": []
          },
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized \u2014 invalid or missing token"
          },
          "403": {
            "description": "Forbidden \u2014 insufficient roles"
          },
          "429": {
            "description": "Rate limit exceeded"
          },
          "503": {
            "description": "Service unavailable \u2014 circuit breaker open"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "description": "Required roles: ledger-operator, ledger-admin"
      },
      "get": {
        "tags": [
          "LedgerOS"
        ],
        "summary": "GET /ledgeros/v1/settlements",
        "operationId": "get_ledgeros_v1_settlements",
        "security": [
          {
            "BearerAuth": []
          },
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized \u2014 invalid or missing token"
          },
          "403": {
            "description": "Forbidden \u2014 insufficient roles"
          },
          "429": {
            "description": "Rate limit exceeded"
          },
          "503": {
            "description": "Service unavailable \u2014 circuit breaker open"
          }
        },
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Query parameters (passthrough)"
          }
        ]
      }
    },
    "/ledgeros/v1/reconciliation/jobs": {
      "post": {
        "tags": [
          "LedgerOS"
        ],
        "summary": "POST /ledgeros/v1/reconciliation/jobs",
        "operationId": "post_ledgeros_v1_reconciliation_jobs",
        "security": [
          {
            "BearerAuth": []
          },
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized \u2014 invalid or missing token"
          },
          "403": {
            "description": "Forbidden \u2014 insufficient roles"
          },
          "429": {
            "description": "Rate limit exceeded"
          },
          "503": {
            "description": "Service unavailable \u2014 circuit breaker open"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "description": "Required roles: ledger-operator, ledger-admin"
      }
    },
    "/ledgeros/v1/postings/{id}/confirm": {
      "post": {
        "tags": [
          "LedgerOS"
        ],
        "summary": "POST /ledgeros/v1/postings/{id}/confirm",
        "operationId": "post_ledgeros_v1_postings_id_confirm",
        "security": [
          {
            "BearerAuth": []
          },
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized \u2014 invalid or missing token"
          },
          "403": {
            "description": "Forbidden \u2014 insufficient roles"
          },
          "429": {
            "description": "Rate limit exceeded"
          },
          "503": {
            "description": "Service unavailable \u2014 circuit breaker open"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Resource id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/ledgeros/v1/balances/search": {
      "get": {
        "tags": [
          "LedgerOS"
        ],
        "summary": "GET /ledgeros/v1/balances/search",
        "operationId": "get_ledgeros_v1_balances_search",
        "security": [
          {
            "BearerAuth": []
          },
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized \u2014 invalid or missing token"
          },
          "403": {
            "description": "Forbidden \u2014 insufficient roles"
          },
          "429": {
            "description": "Rate limit exceeded"
          },
          "503": {
            "description": "Service unavailable \u2014 circuit breaker open"
          }
        },
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Query parameters (passthrough)"
          }
        ]
      }
    },
    "/ledgeros/v1/balances/block": {
      "post": {
        "tags": [
          "LedgerOS"
        ],
        "summary": "POST /ledgeros/v1/balances/block",
        "operationId": "post_ledgeros_v1_balances_block",
        "security": [
          {
            "BearerAuth": []
          },
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized \u2014 invalid or missing token"
          },
          "403": {
            "description": "Forbidden \u2014 insufficient roles"
          },
          "429": {
            "description": "Rate limit exceeded"
          },
          "503": {
            "description": "Service unavailable \u2014 circuit breaker open"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/ledgeros/v1/balances/unblock": {
      "post": {
        "tags": [
          "LedgerOS"
        ],
        "summary": "POST /ledgeros/v1/balances/unblock",
        "operationId": "post_ledgeros_v1_balances_unblock",
        "security": [
          {
            "BearerAuth": []
          },
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized \u2014 invalid or missing token"
          },
          "403": {
            "description": "Forbidden \u2014 insufficient roles"
          },
          "429": {
            "description": "Rate limit exceeded"
          },
          "503": {
            "description": "Service unavailable \u2014 circuit breaker open"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/ledgeros/v1/reconciliation/jobs/{id}": {
      "get": {
        "tags": [
          "LedgerOS"
        ],
        "summary": "GET /ledgeros/v1/reconciliation/jobs/{id}",
        "operationId": "get_ledgeros_v1_reconciliation_jobs_id",
        "security": [
          {
            "BearerAuth": []
          },
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized \u2014 invalid or missing token"
          },
          "403": {
            "description": "Forbidden \u2014 insufficient roles"
          },
          "429": {
            "description": "Rate limit exceeded"
          },
          "503": {
            "description": "Service unavailable \u2014 circuit breaker open"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Resource id"
          }
        ]
      }
    },
    "/ledgeros/v1/reconciliation/jobs/{id}/matches": {
      "get": {
        "tags": [
          "LedgerOS"
        ],
        "summary": "GET /ledgeros/v1/reconciliation/jobs/{id}/matches",
        "operationId": "get_ledgeros_v1_reconciliation_jobs_id_matches",
        "security": [
          {
            "BearerAuth": []
          },
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
[...]
